<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title></title>
</head>
<body>
	<div th:fragment="include">
	   <!--common-->
	   <link th:href="@{css/bootstrap.min.css}" rel="stylesheet" />
       <link th:href="@{css/style.css}" rel="stylesheet" />
       <link th:href="@{css/style-responsive.css}" rel="stylesheet"/>
       <link th:href="@{bootstrap-table/bootstrap-table.css}" rel="stylesheet"  href="bootstrap-table/bootstrap-table.css" />

	</div>
	
	<div th:fragment="js">

		<script th:src="@{js/jquery-1.10.2.min.js}"></script>
		<script th:src="@{js/jquery-ui-1.9.2.custom.min.js}"></script>
		<script th:src="@{js/jquery-migrate-1.2.1.min.js}"></script>
		<script th:src="@{js/bootstrap.min.js}"></script>
		<script th:src="@{js/modernizr.min.js}"></script>
		<script th:src="@{js/jquery.nicescroll.js}"></script>
        <script th:src="@{scripts.js}" src="scripts.js" ></script>
        
        <script th:src="@{bootstrap-table/bootstrap-table.js}"></script>
		<script th:src="@{bootstrap-editable/js/bootstrap-editable.js}"></script>
		<script th:src="@{bootstrap-table/bootstrap-table-zh-CN.js}"></script>
        
        <!-- 页面渲染JS -->
		<script th:src="@{js/handlebars-1.0.0.beta.6.js}"></script>
	</div>
</body>
</html>